html, body{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 75%;
  width: 90%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 6px rgba(60, 60, 60, .15);
}

.navigation{
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  padding: 2.5%;
  background-color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}
.navigation a{
  margin: 0 auto;
  width: 80%;
  color: #fff;
  text-decoration: none;
}
.navigation a:nth-child(1) p{
  font-size: 1.5em;
}
.navigation a:hover, a:hover p{
  color:cornflowerblue;
}
.navigation a p{
  margin: 0;
  width: 100%;
  text-align: center;
  color: none;
}

.navigation p{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: .6em;
  color: #fff;
}

.navigation ul{
  margin: 0 auto;
  padding: 0;

  height: 80%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navigation ul li{
  list-style-type: none;
}
.navigation ul li a{
  text-decoration: none;
}

.flex{
  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: column;
}

.content{
  height: 80%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content .portfolio{
  margin: 0 auto;
  height: 90%;
  width: 90%;

  border-radius: 5px;
  box-shadow: 0 5px 3px rgba(60, 60, 60, .10);
  box-sizing: border-box;
  padding: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

/*
  overflow-y: scroll;
  overflow-x: hidden;
*/
}
.portfolio .slider {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slide {
	height: 100%;
	width: 100%;
}
.slide h1 {
	margin: 0;
}

.slide .gallery {
	margin: 0 auto;
	padding: 15px 0;
	height: 95%;
	width: 75%;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.gallery div {
	border-radius: 5px;
	margin: 0 auto;
	
	height: 30%;
	width: 30.5%;
	/*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);*/
	background-color: #EFF1F7;
	position: relative;
	overflow: hidden;
}

.gallery div img {
	margin: 0 auto;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	transition: width 1s, height 1s;
}
.gallery div:hover img {
	height: 110%;
	width: 110%;
}
.gallery div a {
	position: absolute;
	margin: 0 auto;
	/*border: 1px solid red;*/
	border-radius: 5px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.slider-controls {
	/*border: 1px solid red;*/
	position: absolute;
	z-index: 10;
	margin: 0 auto;
	width: 60%;
	height: 50px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slider-controls span {
	display: block;
	/*border: 1px solid #333;*/
	border-radius: 5px;
	width: 50px;
	height: 50px;
	
	background-color: #EFF1F7;
}

.slider-controls span a {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.slider-controls span:hover {
	background-color: #333;
	color: #fff;
}

.slider-controls span a i {
	margin: 0 auto;
	font-size: 2em;
}
/*
.loading {
  margin: 0;
  height: 50%;
  width: 80%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loading p {
  margin: auto;
  height: auto;
  width: 100%;
  font-size: 10em;
  text-align: center;
  opacity: .6;
}
.loading h3 {
  margin: 0;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 2em;
  opacity: .6
}
*/

.footer{
  margin: 0;
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul{
  margin: 0;
  padding: 0;
  height: 80%;
  width: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer ul li{
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul li a{
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.footer ul li a:hover{
  color: cornflowerblue;
}
.footer ul li p{
  margin: 0;
  width: 100%;
  text-align: center;
}

.footer ul li a i{
  margin: 0;
  text-align: center;
}


@media (max-width:750px) {
  body {
    height: 100%;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  .navigation {
    height: 500px;
    width: 100%;
    justify-content: space-around;
    border-radius: 0;
  }
  .flex {
    height: auto;
    width: 100%;
    border-radius: 0;
  }

  .content {
    height: auto;
    border-radius: 0;
  }

  .footer {
    height: 100px;
  }

  @media (max-width: 310px) {

  }
}